
NET "MMS_ADR<0>" LOC = P26;
NET "MMS_ADR<1>" LOC = P21;
NET "MMS_ADR<2>" LOC = P25;
NET "MMS_ADR<3>" LOC = P24;
NET "MMS_ADR<4>" LOC = P22;
NET "MMS_ADR<5>" LOC = P20;
NET "MMS_ADR<6>" LOC = P16;
NET "MMS_ADR<7>" LOC = P19;
NET "MMS_ADR<8>" LOC = P17;
NET "MMS_ADR<9>" LOC = P14;
NET "MMS_ADR<10>" LOC = P15;
NET "MMS_ADR<11>" LOC = P13;
NET "MMS_ADR<12>" LOC = P11;
NET "MMS_ADR<13>" LOC = P9;
NET "MMS_ADR<14>" LOC = P12;
NET "MMS_ADR<15>" LOC = P7;
NET "MMS_ADR<16>" LOC = P5;
NET "MMS_ADR<17>" LOC = P10;
NET "MMS_ADR<18>" LOC = P3;
NET "MMS_ADR<19>" LOC = P2;
NET "MMS_ADR<20>" LOC = P143;
NET "MMS_ADR<21>" LOC = P142;
NET "MMS_ADR<22>" LOC = P6;
NET "MMS_ADR<23>" LOC = P140;

NET "MMS_DATA<0>" LOC = P136;
NET "MMS_DATA<1>" LOC = P137;
NET "MMS_DATA<2>" LOC = P135;
NET "MMS_DATA<3>" LOC = P134;
NET "MMS_DATA<4>" LOC = P133;
NET "MMS_DATA<5>" LOC = P132;
NET "MMS_DATA<6>" LOC = P131;
NET "MMS_DATA<7>" LOC = P130;
NET "MMS_DATA<8>" LOC = P128;
NET "MMS_DATA<9>" LOC = P129;
NET "MMS_DATA<10>" LOC = P126;
NET "MMS_DATA<11>" LOC = P124;
NET "MMS_DATA<12>" LOC = P125;
NET "MMS_DATA<13>" LOC = P121;
NET "MMS_DATA<14>" LOC = P120;
NET "MMS_DATA<15>" LOC = P119;

NET "MMS_INT<0>" LOC = P40;
NET "MMS_INT<1>" LOC = P41;
NET "MMS_INT<2>" LOC = P43;
NET "MMS_INT<3>" LOC = P34;
NET "MMS_INT<4>" LOC = P39;
NET "MMS_INT<5>" LOC = P35;
NET "MMS_INT<6>" LOC = P32;
NET "MMS_INT<7>" LOC = P33;

NET "MMS_INH1" LOC = P23;
NET "MMS_INH2" LOC = P27;
NET "MMS_XACK" LOC = P30;
NET "MMS_INIT" LOC = P31;
NET "MMS_BHEN" LOC = P4;
NET "MMS_BCLK" LOC = P38;
NET "MMS_CBRQ" LOC = P44;
NET "MMS_MREQ" LOC = P46;
NET "MMS_BAO" LOC = P48;
NET "MMS_BUSY" LOC = P49;
NET "MMS_BPRO" LOC = P50;
NET "MMS_BREQ" LOC = P51;
NET "MMS_CCLK" LOC = P138;
NET "MMS_LOCK" LOC = P139;
NET "MMS_BPRN" LOC = P52;
NET "MMS_INTA" LOC = P53;
NET "MMS_MWTC" LOC = P54;
NET "MMS_IOWC" LOC = P56;
NET "MMS_MRDC" LOC = P57;
NET "MMS_IORC" LOC = P58;

NET "ESP_DATA<0>" LOC = P59;
NET "ESP_DATA<1>" LOC = P60;
NET "ESP_DATA<2>" LOC = P61;
NET "ESP_DATA<3>" LOC = P64;
NET "ESP_DATA<4>" LOC = P66;
NET "ESP_DATA<5>" LOC = P68;
NET "ESP_DATA<6>" LOC = P69;
NET "ESP_DATA<7>" LOC = P70;

NET "ESP_CTRL0" LOC = P71;
NET "ESP_CTRL1" LOC = P74;
NET "ESP_CTRL2" LOC = P75;
NET "ESP_CTRL3" LOC = P76;
NET "ESP_CTRL4" LOC = P77;

NET "MISC_PIN<0>" LOC = P78;
NET "MISC_PIN<1>" LOC = P79;
NET "MISC_PIN<2>" LOC = P80;
NET "MISC_PIN<3>" LOC = P81;
NET "MISC_PIN<4>" LOC = P82;
NET "MISC_PIN<5>" LOC = P83;
NET "MISC_PIN<6>" LOC = P85;
NET "MISC_PIN<7>" LOC = P86;
NET "MISC_PIN<8>" LOC = P87;
NET "MISC_PIN<9>" LOC = P88;
NET "MISC_PIN<10>" LOC = P91;
NET "MISC_PIN<11>" LOC = P92;
NET "MISC_PIN<12>" LOC = P93;
NET "MISC_PIN<13>" LOC = P94;
NET "MISC_PIN<14>" LOC = P95;
NET "MISC_PIN<15>" LOC = P96;
NET "MISC_PIN<16>" LOC = P97;
NET "MISC_PIN<17>" LOC = P98;

NET "DEBUG_PIN<0>" LOC = P100;
NET "DEBUG_PIN<1>" LOC = P102;
NET "DEBUG_PIN<2>" LOC = P104;
NET "DEBUG_PIN<3>" LOC = P106;
NET "DEBUG_PIN<4>" LOC = P110;
NET "DEBUG_PIN<5>" LOC = P112;
NET "DEBUG_PIN<6>" LOC = P115;
NET "DEBUG_PIN<7>" LOC = P117;
NET "DEBUG_PIN<8>" LOC = P101;
NET "DEBUG_PIN<9>" LOC = P103;
NET "DEBUG_PIN<10>" LOC = P105;
NET "DEBUG_PIN<11>" LOC = P107;
NET "DEBUG_PIN<12>" LOC = P111;
NET "DEBUG_PIN<13>" LOC = P113;
NET "DEBUG_PIN<14>" LOC = P116;
NET "DEBUG_PIN<15>" LOC = P118;

